.card {
    height: 420px;
    width: 320px;
    margin: 10px;
    transition: 300ms;
}

.character,
.character_2,
.character_3,
.character_4 {
    height: 420px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: #323232;
    transition: 300ms;
    position: absolute;
}

.image-character_1,
.image-character_2,
.image-character_3,
.image-character_4 {
    background-size: cover;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}

.image-character_1 {
    height: 280px;
    width: 250px;
    background-image: url("./images/dragon1.png");
}

.image-character_2 {
    height: 400px;
    width: 320px;
    background-image: url("./images/falcon9.png");
}

.image-character_3 {
    height: 380px;
    width: 350px;
    background-image: url("./images/falconheavy.png");
}

.image-character_4 {
    height: 350px;
    width: 180px;
    background-image: url("./images/starship.png");
}

.detail,
.detail_2,
.detail_3,
.detail_4 {
    height: 230px;
    width: 320px;
    background-color: transparent;
    position: absolute;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-top: 150px;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 300ms;
}

/* HOVERS */

.card:hover {
    transform: scale(1.1);
}

.card:hover .image-character_1 {
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("./images/dragon2.png");
    width: 250px;
    height: 230px;
}

.card:hover .image-character_2 {
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("./images/falcon92.png");
    width: 280px;
    height: 400px;
}

.card:hover .image-character_3 {
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("./images/falconheavy2.png");
    width: 230px;
    height: 280px;
}

.card:hover .image-character_4 {
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("./images/starship1.png");
    width: 380px;
    height: 240px;
}

.card:hover .character_1,
.card:hover .character_2,
.card:hover .character_3,
.card:hover .character_4 {
    background-image: radial-gradient(#525252, #212121);
}

/* TEXT AND BOTTOM */

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: auto;
    width: 92%;
    font-size: clamp(10px, 1.5vw, 14px);
    color: #c0bdbd;
}

.boton {
    width: 8vw;
    margin: auto;
    cursor: pointer;
    background: #525252;
    background-image: -webkit-linear-gradient(top, #b3b3b3, #525252);
    background-image: -moz-linear-gradient(top, #b3b3b3, #525252);
    background-image: -ms-linear-gradient(top, #b3b3b3, #525252);
    background-image: -o-linear-gradient(top, #b3b3b3, #525252);
    background-image: linear-gradient(to bottom, #b3b3b3, #525252);
    -webkit-border-radius: 29;
    -moz-border-radius: 29;
    border-radius: 29px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    text-align: center;
    font-size: clamp(10px, 1.5vw, 18px);
    padding: 10px 20px;
    text-decoration: none;
}

.boton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #d93476);
    background-image: -moz-linear-gradient(top, #3cb0fd, #d93476);
    background-image: -ms-linear-gradient(top, #3cb0fd, #d93476);
    background-image: -o-linear-gradient(top, #3cb0fd, #d93476);
    background-image: linear-gradient(to bottom, #3cb0fd, #d93476);
    text-decoration: none;
}

/* Media Queries para Responsividad */



@media (max-width: 1600px) {

    .boton{

        padding: 10px 20px;
        margin-top: 10px;
        width: 60%;

    }
}

@media (max-width: 768px) {
    .card {
        height: 330px;
        width: 240px;
    }

    .character,
    .character_2,
    .character_3,
    .character_4 {
        height: 330px;
        width: 240px;
    }

    .image-character_1,
    .image-character_2,
    .image-character_3,
    .image-character_4 {
        height: 200px;
        width: 180px;
    }

    .detail,
    .detail_2,
    .detail_3,
    .detail_4 {
        height: 150px;
        width: 240px;
        margin-top: 100px;
    }

    .boton{

        padding: 5px 10px;
        margin-top: 10px;
        width: 60%;

    }
}

@media (min-width: 720px) and (max-width: 767px){

    .card {
        height: 360px;
        width: 260px;
    }

    .character,
    .character_2,
    .character_3,
    .character_4 {
        height: 360px;
        width: 260px;
    }

    .boton{

        padding: 0px 10px;
        width: 60%;
        

    }

}

@media (max-width: 580px) {
    .card {
        height: 320px;
        width: 180px;
    }

    .character,
    .character_2,
    .character_3,
    .character_4 {
        height: 320px;
        width: 180px;
    }

    .image-character_1,
    .image-character_2,
    .image-character_3,
    .image-character_4 {
        height: 150px;
        width: 140px;
    }

    .detail,
    .detail_2,
    .detail_3,
    .detail_4 {
        height: 200px;
        width: 180px;
        margin-top: 80px;
    }

    .boton{

        padding: 5px 10px;
        margin-top: 10px;
        width: 60%;

    }
}
