---
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import SatelliteModel from "./Splash2/SatelliteModel";
const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-100">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center">
    <div
      id="astronaut"
      class="w-[110vw] h-[95%] flex flex-col items-center justify-center overflow-hidden"
    >
      <SatelliteModel client:load />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      animation: none;
    }

    #starfield {
      display: none;
    }

    #splash-bg-fallback {
      display: block;
    }
  }
</style>
